<!DOCTYPE html>
<html ng-app="Phrases">
  <title>Phrases</title>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/angular.min.js"></script>
    <script src="/js/index_ctrl.js"></script>
    <script src="/js/directives/editPhrase.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
          <h1>Phrases</h1>
      </div>
      <div class="row">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
