<!DOCTYPE html>
<html>
  <title>Phrases</title>
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="/images/icon.png" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/application.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div class="container" id="app">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">
              <img src="/images/logo.png" id="brand">
            </a>
          </div>
          <navigation-bar username="<%= @username %>"></navigation-bar>
        </div>
      </nav>
      <div class="row">
        <%= yield %>
      </div>
    </div>
    <script type="text/x-template" id="navigation-bar">
      <div>
        <template v-if="username.length">
          <div class="navbar-form navbar-left form-group">
            <input v-model="phrase.beginningPhrase" class="form-control" placeholder="New Phrase" />
            <a @click="createPhrase" class="btn btn-primary">Create</a>
          </div>
          <form action="/logout" method="post" class="navbar-form navbar-right">
            <input type="submit" value="Logout" class="btn btn-danger">
          </form>
        </template>
      </div>
    </script>
    <script src="/js/application.js"></script>
  </body>
</html>
