<!DOCTYPE html>
<html ng-app="Phrases">
<title>Phrases</title>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="/js/angular.min.js"></script>
  <script src="/js/index_ctrl.js"></script>
  <script src="/js/directives/editPhrase.js"></script>
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            Phrases
          </a>
        </div>
      </div>
    </nav>
    <div class="row">
      <%= yield %>
    </div>
  </div>
</body>
</html>
