<!DOCTYPE html>
<html>
  <title>Phrases</title>
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="/images/logo.gif" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/application.css">
    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/application.js"></script>
    <script src="/js/notice.js"></script>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Phrases</a>
          </div>
          <% if session[:username] %>
            <form action="/logout" method="post" class="navbar-form navbar-right">
              <input type="submit" value="Logout" class="btn btn-default"> 
            </form>
          <% end %>
        </div>
      </nav>
      <%# if styled_flash.present? %>
        <!-- <div class="col-md-8 col-md-offset-2 alert alert-success" id="flash-notice"> -->
          <%#= styled_flash %>
        <!-- </div> -->
      <%# end %>
      <div class="row">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
