<html>
  <head>
    <script src="assets/js/jquery-3.1.1.js"></script>
    <script src="assets/js/main_page.js"></script>
  </head>
  <body>
    <header>
      <h1>Task 3</h1>
    </header>
    <%= styled_flash %>
    <%= yield %>
  </body>
</html>
