<!DOCTYPE html>
<html>
  <title>Phrases</title>
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="/images/icon.png" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/application.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div class="container" id="app">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">
              <img src="/images/logo.png" id="brand">
            </a>
          </div>
          <navigation-bar username="<%= @username %>"
                          v-bind:phrases="phrases"
                          v-on:notify="changeNotification"></navigation-bar>
        </div>
      </nav>
      <%= yield %>
    </div>
    <script type="text/x-template" id="navigation-bar">
      <div>
        <template v-if="username.length">
          <div class="navbar-form navbar-left form-group">
            <input v-model="beginningPhrase" class="form-control" placeholder="New Phrase" />
            <a @click="createPhrase" class="btn btn-primary">Create</a>
          </div>
          <form action="/logout" method="post" class="navbar-form navbar-right">
            <input type="submit" value="Logout" class="btn btn-danger">
          </form>
        </template>
      </div>
    </script>
    <script type="text/x-template" id="phrase-entry">
      <li class="list-group-item">
        <div>
          {{ phrase.current_state }}
          <span v-bind:class="isOpenedPhrase ? 'glyphicon-menu-up' : 'glyphicon-menu-down'"
                class="glyphicon pull-right"
                @click="loadPhraseInfo()"></span>
        </div>
        <div v-show="isOpenedPhrase" style="margin-top: 15px;">
          <div class="form-inline" >
            <div class="form-group">
              <input type="text" v-model="newWord" class="form-control" placeholder="Continue phrase" />
            </div>
            <a class="btn btn-default" href="#" @click="addNewWord()">Add</a>
          </div>
        </div>
      </li>
    </script>
    <script type="text/x-template" id="history-entry">
      <div class="com-md-12">
        <div class="row">
          <div class="col-md-12">
            {{ historyEntry.word }}
          </div>
          <div class="col-md-12">
            {{ historyEntry.previous_phrase }}
          </div>
          <div class="col-md-12">
            {{ historyEntry.user.username }}
          </div>
          <div class="col-md-12">
            {{ createdDate }}
          </div>
        </div>
        <hr>
      </div>  
    </script>
    <script src="/js/application.js"></script>
  </body>
</html>
