<h2>Edit Phrase</h2>

<form action="/update_phrase" method="post" role="form">
  <input type="hidden" name="phrase[id]" value="<%= @phrase.id %>">
  <label>Phrase: </label>
  <%= @phrase.name %>
  <input type="text" name="phrase[name]" />
  <input type="submit" value="Submit" />
</form>
