<h2>Edit Phrase</h2>
<div>
  <% @phrase.histories.each do |history| %>
  <p>
    <%= history.created_at %> | 
    <%= history.user.username %>
  </p>
  <% end %>
</div>

<form action="/update_phrase" method="post" role="form">
  <input type="hidden" name="phrase[id]" value="<%= @phrase.id %>">
  <label>Phrase: </label>
  <%= @phrase.name %>
  <input type="text" name="phrase[name]" />
  <input type="submit" value="Submit" />
</form>
