<div class="col-md-4 col-md-offset-4">
    <h2>History of Phrase</h2>
    <%= @phrase.name %>
    <div>
      <% @phrase.histories.each do |history| %>
      <p>
      <%= history.created_at %> -
        <%= history.user.username %> |
        <%= history.part_phrase %>
      </p>
      <% end %>
    </div>
</div>
