
<div class="col-md-4" id="new-phrase">
  <div class="jumbotron">
    <h2>Hello, <%= session[:username] %>!</h2>
    <p>I want to play with you in the game. Agrrr...</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
  </div>
</div>
<div class="col-md-4" >
  <table class="table">
    <thead>
      <th>
        List
      </th>
      <th></th>
    </thead>
    <tbody class="phrases">
      <% @phrases.each do |phrase| %>
      <tr>
        <td class="dash-phrase">
          <div class="phrase">
            <%= phrase.current_state %>
          </div>
          <div class="edit-phrase">
            <br>
            <form action="/create_word" method="post" role="form" class="form-inline">
              <div class="form-group">
                <input type="hidden" name="word[phrase_id]" value="<%= phrase.id %>">
                <input type="text" name="word[word]" class="form-control" placeholder="Continue phrase" />
              </div>
              <input class="btn btn-default" type="submit" value="Add" />
            </form>
          </div>
        </td>
        <td>
          <a href="/history/<%= phrase.id %>">
            <span class="glyphicon glyphicon-open"></span
          ></a>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="col-md-4" id="history">
</div>
