<h2>Main Page</h2>
<a href="/new_phrase">New phrase</a>
<% @phrases.each do |phrase| %>
  <p><a href="/edit_phrase/<%= phrase.id %>"><%= phrase.name %></a></p>
<% end %>

<% @users.each do |user| %>
  <%= user.username %>
  <%= user.password %>
  <br>
<% end %>