<div class="row">
  <div class="col-md-12">
    <div v-bind:class="'alert alert-' + notification.type"
      v-show="notification.message.length">
      <a href="#" class="close" @click="changeNotification('','')">x</a>
      {{ notification.message }}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="jumbotron">
      <h2>Hello, {{ currentUser.username }}</h2>
      <p>I want to play with you in the game. Agrrr...</p>
    </div>
  </div>


  <div class="col-md-4" >
    <ul class="list-group">
      <phrase-entry
        v-for="phrase in sortedPhrases"
        v-bind:phrase="phrase"
        v-bind:active-phrase-id="activePhraseId"
        v-bind:key="phrase.id"
        v-on:notify="changeNotification"
        v-on:save-history="saveHistory">
      </phrase-entry>
    </ul>
  </div>

  <div class="col-md-4">
    <div class="row">
      <history-entry v-for="historyEntry in history"
                     v-bind:key="historyEntry.id"
                     v-bind:history-entry="historyEntry"></history-entry>    
    </div>
  </div>
</div>
