.edit-phrase, #hide-new-phrase{
  display: none;
}

.dash-phrase:hover{
    background-color: #265A88;
    border-radius: 5px;
    color: #ffffff;
}

.flash{
  margin-bottom: 10px;
  height: 40px;
  border-radius: 5px;
  padding-top: 10px;
  padding-left: 20px;
}

.info{
  background-color: #dff0d8;
  color: #3c763d;
}

.warning{
  background-color: #f2dede;
  color: #b24455;
}

#brand{
  height: 50px;
  margin-top: -16px;
}

#history{
  height: 40em;
  width: 32%;
  border-width: 1px;
}
